<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <h2>会員の方はこちらからログイン</h2>


      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>



      <div class="field">
        <%= f.label :メールアドレス %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :パスワード %><br />
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>


      <div>
        <%= link_to "=>パスワードを忘れた方はこちら", new_password_path(resource_name) %>
      </div>



      <div class="actions">
        <%= f.submit "ログイン"  %>
      </div>
      <% end %>

      <div class="space">
        <h4>登録がお済みでない方</h4>
        <h4><%= link_to "こちら", new_member_registration_path  %>から新規登録してください。</h4>
      </div>
    </div>
  </div>
</div>




