<div class='col-lg-10 offset-lg-1 space'>
  <div class='row space'>
    <h2>注文情報入力</h2>
  </div>

  <%= form_with(model: @order, local: true, url: {action: 'check'}) do |f| %>

  <!-- 支払い方法選択　-->
  <div class="row space">
	<h3><%= f.label :支払い方法　%></h3>
      <label><%= f.radio_button :is_payment_method, true, {checked: true} %> クレジットカード</label><br>
      <label><%= f.radio_button :is_payment_method, false, {} %> 銀行振込</label>
  </div>

  <!-- お届け先選択 -->
  <div class="row space">
	<h3><%= f.label :お届け先選択　%></h3>
  </div>
  <!-- 会員の住所 -->
  <div class="row">
    <p>
	  <label><%= f.radio_button :add, 1, checked: true, checked: "checked" %>ご自身の住所</label><br>
      <%= @member.postcode %><br>
      <%= @member.address %><br>
      <%= @member.last_name %> <%= @member.first_name %>
    </p>
  </div>

  <!-- 登録済み配送先住所 -->
  <div class="row space-sm">
    <p>
      <label><%= f.radio_button :add, 2, style: "display: inline-block" %>登録住所から選択</label><br>
      <%= f.collection_select :address, @member.delivery_addresses, :id, :full_address %>
    </p>
  </div>

  <!-- 新しい住所 -->
  <div class="row space-sm">
    <p><label><%= f.radio_button :add, 3 %>新しいお届け先</label></p>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <%= f.fields_for :new_add do |na| %>

        <div class="row">
          <div class="col-lg-3">郵便番号(ハイフンなし)</div>
          <div class="col-lg-6">
            <%= na.text_field :postcode, class: 'form-control' %>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-3">住所</div>
          <div class="col-lg-6">
            <%= na.text_field :address, class: 'form-control' %>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-3">宛名</div>
          <div class="col-lg-6">
            <%= na.text_field :name, class: 'form-control' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <!-- お届け先ここまで -->

  <div class="row space">
    <div class="col-lg-2 offset-lg-7">
      <%= f.submit "確認画面へ進む", class: "btn btn-danger"%>
    </div>
  </div>
  <% end %>
</div>
