<div class="container takasa">

  <h2>商品一覧</h2>

  <div class="text-right index-new"> <!-- ボタンを丸にしたい -->
    <%= link_to new_admins_item_path do %>
      <button type="button" class="btn btn-success btn-success btn-circle btn-lg">＋</button>
    <% end %>
  </div>

  <table class="table table-hover">
    <thead>
      <tr class="active"> <!-- active => 色をグレーに変更 -->
        <th>商品ID</th>
        <th>商品名</th>
        <th>税抜価格</th>
        <th>ジャンル</th>
        <th>ステータス</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @items.each do |item| %>
      <tr>
        <td><%= item.id %></td>
        <td><%= link_to item.name, admins_items_path(item.id) %></td>
        <td><%= "#{item.price}円" %></td>
        <td><%= item.genre.name %></td>
        <td>
          <% if item.is_status? %>
            <span class="badge" style="background:#D52438">販売停止</span>
          <% else %>
            <span class="badge" style="background:#8BCE9A">販売中</span>
          <% end %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @items %>

</div>