<<div class="container">

  <div class="row">
    <!-- ジャンル検索サイドバー -->
    <div class="col-xs-2">
    <table class="table table-hover table-bordered">
      <thead>
        <tr>
          <th class="active text-center"><h5 class="genre_said">ジャンル検索</h5></th>
        </tr>
      </thead>
      <tbody>
        <% @genres.each do |genre| %>
      <% if genre.is_status == "false" %>
        <tr>
          <td>
            <%= link_to genre.name, items_path(genre_id: genre.id), class:"ec-genre-list-item" %>
          </td>
        </tr>
      <% end %>
    <% end %>
      </tbody>
    </table>
    </div>
  </div>

    <div class="col-xs-9">
      <!-- 画像背景 -->
      <div class="bg_top">
        <!-- 白背景/サイト説明文 -->
        <div class="bg_top2">
          <p class="font-text">
            ようこそ、NaganoCakeへ！<br>
            このサイトは、ケーキ販売のECサイトになります。<br>
            会員でない方も商品の閲覧はできますが、<br>
            購入には会員登録が必要になります。
          </p>
        </div>
      </div>
      <!-- オススメ商品表示 -->
      <br>
      <h4 class="recommendation"><i class="fas fa-crown"></i> オススメ商品 <i class="fas fa-crown"></i></h4><br>
      <div class="row mx-auto mt-3">
        <% @items.last(4).each do |item| %>
        <div class="mx-auto">
          <%= link_to item_path(item) do %>
          <%= attachment_image_tag item, :image, :fill, 100, 100, format: 'jpeg', fallback: 'no_image.jpg', size: '200x200', class: "rounded" %><br>
          <% end %>
            <div class="row mt-3">
          <span class="red-border px-3"><%= item.name %></span>
        </div>
        <div class="row mt-1">
          <span class="offset-8"><%= (item.price * 1.1).floor %> 円</span>
        </div>
      </div>
    <% end %>
  </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-9"></div>
      <div class="col-xs-2">
        <p><%= link_to "もっと見る＞", items_path %></p>
      </div>
    </div>
</div>