<div class="container">
  <div id="container-bg">
  <div id="theTarget">
    <div class="image1"></div>
    <div class="image2"></div>
    <div class="image3"></div>
    <div class="image4"></div>
    <div class="image5"></div>
    <div class="image6"></div>
  </div>
</div><br>

  <div class="row">
    <!-- ジャンル検索サイドバー -->
      <div class="col-xs-2">
        <div class="panel panel-danger" style="margin-top: 20px;">
          <div class="panel-heading">
            <h5 class="panel-title">ジャンル検索</h5></div>
              <div class="panel-body">
            <% @genres.each do |genre| %>
              <tr>
            <!-- each文でジャンル名を取り出し、クリックした際にroutesで設定したitemsのパスを通って、itemsコントローラのsearchアクションに繋げてる。パラメーターにはクリックしたジャンルのidを渡してる。 -->
                <td class="underline">
                 <ol><li> <%= link_to genre.name, search_items_path(genre.id), method: :get %>
                  </li></ol>
                </td>
              </tr>
            <% end %>
          </div>
        </div>
      </div>
       <div class="col-xs-1"></div>
    <div class="col-xs-9">
      <!-- 画像背景 -->
      <div class="bg_top">
        <!-- 白背景/サイト説明文 -->
        <div class="bg_top2">
         <h4>
            ようこそ、ながのCakeへ！<br>
            このサイトは、ケーキ販売のECサイトになります。<br>
            会員でない方も商品の閲覧はできますが、<br>
            購入には会員登録が必要になります。
          </h4>
        </div>
      </div><br>
      <!-- オススメ商品表示 -->
      <h4 class="recommendation"><i class="fas fa-crown"></i> オススメ商品 <i class="fas fa-crown"></i></h4><br>
      <div class="row mx-auto mt-3">
        <% @items.each do |item| %>
        <div class="box" style="float:left; margin-right:20px;">
          <%= link_to item_path(item) do %>
          <%= attachment_image_tag item, :image, :fill, 100, 100, format: 'jpeg', fallback: 'no_image.jpg', size: '200x200', class: "rounded" %><br>
          <% end %>
            <div class="row mt-3">
              <span class="red-border px-3"><%= item.name %></span>
            </div>
          <div class="row mt-1">
            <span class="offset-8"><%= (item.price * 1.1).floor %> 円</span>
          </div>
        </div>
        <% end %>
      </div>
      </div>
      <div class="col-xs-offset-9 col-xs-2">
        <p><%= link_to "もっと見る＞", items_path %></p>
      </div>
    </div>
</div>