<div class="container">
  <br><br>
  <div class="row">
    <!-- ジャンル検索サイドバー -->
    <div class="col-xs-2">
      <div class="panel panel-danger" style="margin-top: 20px;">
          <div class="panel-heading">
            <h5 class="panel-title">ジャンル検索</h5></div>
             <div class="panel-body">
            <% @genres.each do |genre| %>
              <tr>
            <!-- each文でジャンル名を取り出し、クリックした際にroutesで設定したitemsのパスを通って、itemsコントローラのsearchアクションに繋げてる。パラメーターにはクリックしたジャンルのidを渡してる。 -->
                <td class="underline">
                <ol><li> <%= link_to genre.name, search_items_path(genre.id), method: :get %></li></ol>
                </td>
              </tr>
            <% end %>
          </div>
      </div>
    </div>
 <div class="col-xs-1"></div>
  	<div class="col-xs-4 ">
       <figure class="box">
      <%= attachment_image_tag @item, :image, size: "350x300", fallback: "no_image.jpg" %></figure>
    </div>
    <div class="col-xs-5 ">
      <h2><%= @item.name %></h2>
      <p><%= @item.introduction %></p>
      <p class="price">¥<%= (@item.price*1.1).floor %><span style="font-size:12px;">（税込）</span></p>
      <%= form_for(@cart_item, url: cart_items_path) do |f|  %>
      <%= f.number_field :quantity , placeholder: "個数選択", min: 1, max: 20, value:1 %>
      <%= f.hidden_field :item_id, :value => @item.id %>
      <% if @item.is_status == false %>
      <%= f.submit '売り切れ', class: "btn btn-new-register btn-lg", disabled: true %>
      <% else %>
      <%= f.submit 'カートに入れる', class: "btn btn-primary btn-new-register btn-lg"%>
      <% end %>
      <% end %>
    </div>
  </div>
</div>
<%= render 'layouts/footer' %>