<div class="container-ms">
  <div class="row">
    <div class="col-xs-10">
      <h2><i class="fas fa-user"></i> <%= current_member.last_name %> <%= current_member.first_name %>さんの会員情報詳細</h2>

      <!-- 会員情報 -->
      <table class="table">
      <tr>
        <th><h4>氏名</h4></th>
        <td><%= current_member.last_name %> <%= current_member.first_name %></td>
      </tr>

      <tr>
        <th><h4>カナ</h4></th>
        <td><%= current_member.last_name_kana %> <%= current_member.first_name_kana %></td>
      </tr>

      <tr>
        <th><h4>郵便番号</h4></th>
        <td>〒<%= current_member.postcode %></td>
      </tr>

      <tr>
        <th><h4>住所</h4></th>
        <td><%= current_member.address %></td>
      </tr>

      <tr>
        <th><h4>電話番号</h4></th>
        <td><%= current_member.phone_number %></td>
      </tr>

      <tr>
        <th><h4>Eメール</h4></th>
        <td><%= current_member.email %></td>
      </tr>


      <!-- その他のリンク -->
      <tr>
        <th><%= link_to '配送先一覧を見る', delivery_addresses_path, class: 'btn btn-info' %></th>
        <td><%= link_to '注文履歴一覧を見る', orders_path, class: 'btn btn-success' %></td>
      </tr>
      <tr>
        <th></th>
        <td><%= link_to "会員情報を編集する", edit_member_path, class: "btn btn-danger" %></td>
      </tr>
      </table>
    </div>
  </div>
</div>

