<div class="col-lg-9 offset-lg-3 space">
	<div class="container">
		<h2>マイページ</h2>
	</div>

	<!-- 会員情報 -->
	<div class="container">
	  <div class="row">
	    <div class="col-lg-2"><h3>登録情報</h3></div>
		  <div class="col-lg-1">
		    <%= link_to "編集", edit_member_path, class: "btn btn-danger" %>
		  </div>
		  <div class="col-lg-1">
            <%= link_to "パスワード変更", edit_member_password_path, class: 'btn btn-danger' %>
          </div>
      </div>


        <div class="row">
          <div class="col-lg-3">
            <h4>氏名</h4>
          </div>
          <div class="col-lg-1">
          	<%= current_member.last_name %> 
          </div>
          <div class="col-lg-1">
          	<%= current_member.first_name %>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-3">
            <h4>カナ</h4>
          </div>
          <div class="col-lg-1">
          	<%= current_member.first_name_kana %>
          </div>
          <div class="col-lg-1">
          	<%= current_member.first_name_kana %>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-3">
            <h4>郵便番号</h4>
          </div>
          <div class="col-lg-9">
          〒<%= current_member.postcode %>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-3">
            <h4>住所</h4>
          </div>
          <div class="col-lg-9">
            <%= current_member.address %>
           </div>
        </div>

        <div class="row">
          <div class="col-lg-3">
            <h4>電話番号</h4>
          </div>
          <div class="col-lg-9">
          	<%= current_member.phone_number %>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-3">
            <h4>Eメール</h4>
          </div>
          <div class="col-lg-9">
          	<%= current_member.email %>
          </div>
        </div>
      </div>

      <!-- その他のリンク -->
      <div class="container space">
      <div class="row">
        <div class="col-lg-3">
          <h4>配送先</h4>
        </div>
        <div class="col-lg-9">
          <%= link_to '一覧を見る', delivery_addresses_path, class: 'btn btn-danger' %>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-3">
          <h4>注文履歴</h4>
        </div>
        <div class="col-lg-9">
          <%= link_to '一覧を見る', orders_path, class: 'btn btn-danger' %>
        </div>
      </div>
    </div>
</div>
